extends layout

block content
  h1 ATLAS
  h2 Travel catered for you
  //
  //div(id="register_div" class="main-div")
  //  h3 Register User
  //  input(type="email" placeholder="Email" id="register_email")
  //  input(type="password" placeholder="Password" id="register_password")
  //
  //  button(onclick="login()") Login to Account

  div(id="login_div" class="main-div")
    h3 Register User
    input(type="email" placeholder="Email" id="email_field")
    input(type="password" placeholder="Password" id="password_field")
    input(type="text" placeholder="First Name" id="first_name")
    input(type="text" placeholder="Last Name" id="last_name")

    button(id="register_user") Register Account

  script(src="login.js")