extends layout

block content
  h1 ATLAS
  h2 Travel catered for you

  form(method="post", action='/login')
    input(type="text" placeholder="Enter Username" name="username")
    input(type="password" placeholder="Enter Password" name="password")
    button(type="submit") Login

  button(type="button") Atlas for individuals
  button(type="button") Atlas for business
