extends layout

block content
	.jumbotron
		.container
			h1 Atlas
			p
				| Example Text
			br
			a.btn.btn-primary.btn-lg(href='/login', role='button') Login
			a.btn.btn-primary.btn-lg(href='/login/register', role='button') Register
			a.btn.btn-primary.btn-lg(href='/create', role='button') Create

	#content-bar.container
		.row
			.col-md-4
				span.glyphicon.glyphicon-cloud(aria-hidden='true')
				h3 Header
				p
					| Example Text
			.col-md-4
				span.glyphicon.glyphicon-floppy-disk(aria-hidden='true')
				h3 Header
				p
					| Example Text
			.col-md-4
				span.glyphicon.glyphicon-console(aria-hidden='true')
				h3 Header
				p
					| Example Text


	//	button(id="goto_login") Login to Atlas
	//	button(id="goto_register") Create an account