extends layout

block content
    div(id="login_div" class="main-div")
        h3 Login User
        input(type="email" placeholder="Email" id="email_field")
        input(type="password" placeholder="Password" id="password_field")

        button(id="register_user") Login
        button(class="goto_home") Back To Home

