extends layout

block content
    div(id="login_div" class="main-div")
        h3 Register User
        form(action="/login/register/submit" method="post")
            input(type="email" placeholder="Email" id="email_field")
            input(type="password" placeholder="Password" id="password_field")
            input(type="text" placeholder="First Name" id="first_name")
            input(type="text" placeholder="Last Name" id="last_name")
            input(type="submit" value="Register User")